@model Ecommerceclothes.Models.SpecialTags

@{
    ViewData["Title"] = "Delete";
}

<br /><br />

<h4 class="text-info">هل أنت متأكد من عملية حذف ماركة المنتج ?</h4><br />
<div>
    <h4 class="text-info">ماركة المنتج</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">رجوع إلى صفحة  قائمة الماركات</a>
    </form>
</div>
