@model Ecommerceclothes.Models.ProductTypes

@{
    ViewData["Title"] = "Details";
}


<br/><br/>
<div>
    <h2 class="text-info">تفاصيل نوع المنتج </h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">تعديل</a> |
    <a asp-action="Index" class="btn btn-default">رجوع إلى قائمة أنواع المنتجات</a>
</div>
